
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
  }
  

#headerDiv {
    animation: 1.5s ease-out 0s 1 slideInFromLeft;    
    animation-timing-function: ease-in;   
    background-color: wheat;
    min-height: 125px;
    border-radius: 5px;
    /* margin-left: 5px;
    margin-right: 5px; */
    display: grid;
  
}

a {
    margin-left: 5px;    
    font-weight: bold;
    color: blue;
}

#aboutLabel{
    position: absolute;
    margin-top:30px;
    margin-left: 100px;
}

#homeLabel{
    position: absolute;
    margin-top:30px;
    margin-left: 23px;
}

#linkDiv {
    display: inline-block;
    position: absolute;
    margin-bottom: 20px;
}

#titleDiv {
    display: inline-block;    
     margin-left: 40%;
     margin-top: 20px;  
 }

h2{
    color: teal;
}

.flex-container {
    display: inline-block;
    /* align-items: center; */
    justify-content: center;
    white-space: nowrap;
  }

  